:root{
  --font-roboto: 'Roboto', sans-serif;
}
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, #7eb0ff 0%, #b1e6ff 100%);
  box-sizing: border-box;
}
.logo{
  width: 10rem;
}
.nav--active{
  width: 100%;
  height: 100%;
  background-color: slategray;
  position: fixed;
  top: 0;
  left: 0%;
  transition: left .5s;
}
.nav--deactive{
  width: 100%;
  height: 100%;
  background-color: slategray;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left .5s;
}
.menu{
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
  list-style: none;
  margin-left: 25%;
  padding: 1rem;
}
.menu__models--deactive{
  height: 1rem;
  overflow: hidden;
  transition: height .5s;
}
.menu__models--active{
  height: 7rem;
  overflow: hidden;
  transition: height .5s;
}
.menu__marcas--deactive{
  height: 1rem;
  overflow: hidden;
  transition: height .5s;
}
.menu__marcas--active{
  height: 9rem;
  overflow: hidden;
  transition: height .5s;
}
.close{
  position: relative;
  left: 85%;
  top: 3%;
}
.submenu{
  list-style: none;
  padding: 0;
}

/* Main */
.main{
  padding: 4rem 1.5rem;
}
.title{
  font-family: var(--font-roboto);
  text-align: center;
}

/* BreakPoints */

@media screen and (min-width: 900px) {
  .header{
    position: relative;
    padding: 1rem 10rem;
  }
  .nav--deactive{
    width: auto;
    background-color: rgba(65, 105, 225, 0);
    position: static;
  }
  .menu{
    flex-direction: row;
    padding: 0;
  }
  .menu__models--deactive{
    text-align: center;
    position: absolute;
    right: 20%;
    top: 35%;
  }
  .menu__models--deactive:hover{
    text-align: center;
    cursor: pointer;
    height: 18rem;
    position: absolute;
  }
  .menu__marcas--deactive{
    text-align: center;
    position: absolute;
    right: 10%;
    top: 35%;
  }
  .menu__marcas--deactive:hover{
    text-align: center;
    cursor: pointer;
    height: 22rem;
    position: absolute;
  }
  .submenu{
    text-align: left;
    background-color: #c2e9fb;
    margin-top: 23px;
  }
  .submenu__item{
    padding: .8rem 3rem;
  }
  .submenu__item:hover{
    background-color: #64ceff;

  }
  .menu-img{
    position: absolute;
    top: -50%;
  }
  .close{
    position: absolute;
    top: -50%;
  }

  /* Main */
  .main{
    padding-top: 0;
  }
}